doctype 5
html
  head
    title= title
    block stylesheets
      link( rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css' )
      link( rel='stylesheet', href='/stylesheets/own/index.css' )
      link( rel='stylesheet', href='/javascripts/sidr/stylesheets/jquery.sidr.light.css' )
    block custom-stylesheets
    
  body
    block content

    block scripts

      script( src='/javascripts/jquery/jquery.min.js' )
      script( src='/javascripts/angular/angular.min.js' )
      script( src='/javascripts/bootstrap/bootstrap.js' )
      script( src='/javascripts/bootstrap/application.js' )
      script( src='/javascripts/bootstrap/modal.js' )
    
    block custom-scripts