extends layout

block custom-stylesheets

block content
  div( ng-app = 'lol', ng-controller = "turbinaController")
    .col-md-4
      h5 TemperaturaRotorCompresorDeBaja
      div( ng-repeat = 'input in TemperaturaRotorCompresorDeBaja')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaCarcasaCompresorDeBaja
      div( ng-repeat = 'input in TemperaturaCarcasaCompresorDeBaja')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaRotorCompresorDeAlta
      div( ng-repeat = 'input in TemperaturaRotorCompresorDeAlta')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaCarcasaCompresorDeAlta
      div( ng-repeat = 'input in TemperaturaCarcasaCompresorDeAlta')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaRotorTurbinaDeAlta
      div( ng-repeat = 'input in TemperaturaRotorTurbinaDeAlta')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaCarcasaTurbinaDeAlta
      div( ng-repeat = 'input in TemperaturaCarcasaTurbinaDeAlta')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaRotorTurbinaDeBaja
      div( ng-repeat = 'input in TemperaturaRotorTurbinaDeBaja')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaCarcasaTurbinaDeBaja
      div( ng-repeat = 'input in TemperaturaCarcasaTurbinaDeBaja')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturadeAireEnElHabitaculo
      div( ng-repeat = 'input in TemperaturadeAireEnElHabitaculo')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 NivelTanque
      div( ng-repeat = 'input in NivelTanque')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaTanque
      div( ng-repeat = 'input in TemperaturaTanque')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 PresionBomba
      div( ng-repeat = 'input in PresionBomba')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 FlujoBomba
      div( ng-repeat = 'input in FlujoBomba')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 FlujoBombaBarrido
      div( ng-repeat = 'input in  FlujoBombaBarrido')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TempSalidaInter
      div( ng-repeat = 'input in TempSalidaInter')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 Flujo_aire_carters
      div( ng-repeat = 'input in Flujo_aire_carters')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaCA
      div( ng-repeat = 'input in TemperaturaCA')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaCB
      div( ng-repeat = 'input in TemperaturaCB')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaCC
      div( ng-repeat = 'input in TemperaturaCC')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaCD
      div( ng-repeat = 'input in TemperaturaCD')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaCE
      div( ng-repeat = 'input in TemperaturaCE')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaLUB
      div( ng-repeat = 'input in TemperaturaLUB')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')
    .col-md-4
      h5 TemperaturaTAGB
      div( ng-repeat = 'input in TemperaturaTAGB')
        .input-group
          span.input-group-addon( ng-bind = 'input.label')
          input.form-control( ng-bind = 'input.value')

block custom-scripts
  script( src='/javascripts/own/controllers/controllers.js' )